<!-- ==================== HEADER Y NAVEGACIÓN ==================== -->
<%- include('partials/header') %>
    <link rel="stylesheet" href="./css/dashboard_db.css">
    <div class="dashboard">
        <div class="bienvenida">
            <!-- El contenido se llenará dinámicamente desde JavaScript -->
        </div>
    </div>
    <div class="container">
        <div class="anuncio">
            <div class="anuncio-contenido">
                
                <h2><i class="fas fa-exclamation-triangle"></i>¿Eliminar registro?</h2>
                <p>Esta acción no se puede deshacer</p>
                <div class="anuncio-botones">
                    <button class="anuncio-btn gray cancelar">Cancelar</button>
                    <button class="anuncio-btn green confirmar">Eliminar</button>
                </div>
            </div>
        </div>
        <div class="usuarios-view"></div>
        <div class="verificarRegistros-view"></div>
        <div class="consultarRegistros-view"></div>
        <div class="formProduccion-view"></div>
        <div class="cuentasProduccion-view"></div>
        <div class="compras-view"></div>
        <div class="newPedido-view"></div>
        <div class="newTarea-view"></div>
        <div class="almAcopio-view"></div>
        <div class="almPrima-view"></div>
        <div class="home-view"></div>
        <div class="preciosPro-view"></div>
        <div class="comprobante-view"></div>
        <div class="regAcopio-view"></div>

        <div class="carga">
            <div class="loader">
                <p class="loader-logo"><i class="fas fa-pepper-hot"></i></p>
            </div>
        </div>
        
    </div>
    
        <div class="advertencia"></div>
        <div class="opciones"></div>
        <div class="notificador"></div>
        <div class="overlay"></div>
    <!-- ==================== FOOTER ==================== -->
    <script type="module" src="./js/dashboard_db.js"></script>
    <%- include('partials/footer') %>