<!-- ==================== HEADER Y NAVEGACIÓN ==================== -->
<%- include('partials/header') %>
<link rel="stylesheet" href="./css/dashboard_db.css">
    
    <div class="dashboard">
        <div class="bienvenida">
        </div>
    </div>
    <div class="container">
        <!-- ==================== ANUNCIO GLOBAL ==================== -->
        <div class="anuncio">
            <div class="anuncio-contenido"></div>
        </div>
        <div class="anuncio-down">
            <div class="anuncio-contenido"></div>
        </div>
        <!-- ==================== TODAS LAS PESTAÑAS ==================== -->
        <div class="usuarios-view view"></div>
        <div class="verificarRegistros-view view"></div>
        <div class="cuentasProduccion-view view"></div>
        <div class="compras-view view"></div>
        <div class="almAcopio-view view"></div>
        <div class="home-view view"></div>
        <div class="preciosPro-view view"></div>
        <div class="regAcopio-view view"></div>
        <div class="almacen-view view"></div>
        <div class="regAlmacen-view view"></div>
        <div class="configuraciones-view view"></div>
        <div class="gestionPro-view view"></div>
        <div class="calcularMP-view view"></div>
        <div class="tareasAcopio-view view"></div>
        <!-- ==================== CARGA LOANDER ==================== -->
        <div class="carga">
            <div class="loader">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        


    </div>
    <!-- ==================== HTML POR ENCIMA DE TODO ==================== -->
    <div class="advertencia"></div>
    <div class="opciones"></div>
    <div class="notificador"></div>
    <div class="overlay"></div>
    <div class="screen-carga">
    </div>
    <%- include('partials/footer') %>