.advertencia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.875);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.advertencia-contenido {
    background-color: var(--background);
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
}

.advertencia-contenido h2 {
    color: var(--primary-text);
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

.notificaciones-lista {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notificacion-item {
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.notif-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: 12px;
    color: var(--primary-text);
    align-items: center;
}
.notif-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 70px;
}
.btn-eliminar-notif {
    background: none;
    border: none;
    color: var(--danger-color);
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.btn-eliminar-notif:hover {
    background-color: rgba(220, 53, 69, 0.1);
}

.btn-eliminar-notif i {
    font-size: 12px;
}


.mensaje {
    color: var(--primary-text);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}

.btn-aceptar {
    display: block;
    margin: 1em auto 0;
    padding: 0.8em 2em;
    background-color: var(--second-button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-aceptar:hover {
    background-color: var(--accent-color-hover);
}