
:root {

    --primary-text: #ffffff;


    --background: rgb(238, 238, 238);
    --primary-color: #242424;
    --second-color: #1a1a1a;
    --cero-color: rgb(61, 61, 61);


    --primary-button: #00a2d8;
    --second-button: #00796f;
    --tercer-color: #f37500;


    --error: #ff4d4d;
    --success: #4CAF50;
}
