

:root {

    --primary-text: #ffffff;
    --primary-color: #242424;
    --second-color: #1a1a1a;
    --cero-color: rgb(61, 61, 61);

    --cuarto-color: #0087a5;
    --tercer-color: #f37500;

    --error: #fc3737;
    --success: #4CAF50;
}