.verificarRegistros-view {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 1em;
    width: 100%;
    background: #1a1a1a;
    color: white;
    overflow-y: auto;
    margin-top: 20px;
    display: none;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.fecha-header {
    background: #353535;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}
.fecha-header:hover {
    background: #252525;
}
.fecha-header i {
    transition: transform 0.3s ease;
}
.fecha-header h3 {
    margin: 0;
    color: white;
    font-size: 1.1rem;
    white-space: nowrap; /* Previene el wrap del texto */
    overflow: hidden;
    text-overflow: ellipsis; /* Añade ... si el texto es muy largo */
}
.fecha-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap; /* Previene el wrap */
}
.contador {
    background: #3d3d3d;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
    font-size: 0.8rem;
    color: #aaa;
    white-space: nowrap; /* Previene el wrap */
}
.registros-grupo {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    overflow: hidden;
}
.registros-grupo.active {
    max-height: none;
    opacity: 1;
    visibility: visible;
    padding: 1em;
    margin-top: 1em;
}
.fecha-card {
    background: #2d2d2d;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;

}
.verificado-icon {
    color: #4CAF50;
    margin: 0;
}
.acciones {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.btn-editar{
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    background: #2196F3;
    color: white;
    width: 100%;
}
.btn-eliminar-registro{
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    background: #ff0000;
    color: white;
    width: 100%;
}

/* Animación para el icono */
.fa-chevron-down {
    transition: transform 0.3s ease;
}